.containerNavbar{
    width: 100%;
    height: 12vh;
    background-color:#040740;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

.containerList{
    color:rgb(221, 213, 213);
    font-weight: bold;
    list-style:none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    position: relative;
    top: 8px;
}
.categoryItems{
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 7px 10px;
    border-radius: 10px;
    background-color: #e1d4c7;
    text-align: center;
}
